{% extends "Alumini/base.html" %}
{% block content %}
<div class="container" style="padding-top: 80px">
  <!-- Grid row -->
        <div class="row">
      
      
          <!-- Grid column -->
          <div class="col-md-9 col-lg-7 col-xl-5" >
      
            <!--Form without header-->
            <div class="card">
      
              <div class="card-body mx-4">
      
                <!--Header-->
<div class="alert alert-primary" role="alert">
    Password Changed Successfully!!!
</div>
<a href="{% url 'login' %}"> Sign In here</a>
</div>
</div>
</div>
</div>
</div
{% endblock content %}