<div class="container"  style="padding-top: 100px;">
    <div class="row">
 
<div class="col-md-3" style="padding-left:10px;">
<div class="main">  
    {% extends "Alumini/base.html" %}
    {% block content %}
    <div class="content-section" style="padding-top:0px;">
     <ul class="list-group" style="padding: 20px">
        <li><a href="about.html">Vision And Mission</a></li>
         <li><a href="princimsg.html">Principal's Message</a></li>
     </ul>
   </div>
</div>
</div>
     <div class="col-md-9 ">
         <div class="thumbnail">
             <img src="imgs/3.jpg" alt="..." style="width: 700px;padding-bottom: 20px">
         </div>
         <div class="main" style="padding: 20px">
         <h3><strong><u>Vision</u></strong></h3>
         <p>In pursuit of global cosmpetitiveness, the institute is committed to excel in engineering education and research with concern for environment and society.</p>
     

         <h3><strong><u>Mission</u></strong></h3>
         <ul>
             <li>Provide conducive environment for academic excellence in engineering education.</li>
             <li>Enhance research and developement along with promotion to sponsored projects and industrial consultancy.</li>
             <li>Foster developement of students by creating awareness for needs of society, sustainable developement and human values.</li>
         </ul>
       </div>
     </div>
 </div>
</div>
{% endblock content %}