{% extends "Alumini/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container"  style="padding-top: 50px;">
    <div class="row">
 
<div class="col-md-12" style="padding: 10px;">
<div class="cover" style="padding: 20px; background-color: #efefef">  
<h3><strong><u>Activities under Alumni Association</u></strong></h3>
     <p>
         Alumni Association of Government College of Engineering is serving the society through the platform of Government College of Engineering, Aurangabad with its network and members of Alumni Association (AAGECA). Every year association organises various technical and social activities for the overall development of budding engineers and the institute. It also supports the institute to enhance the quality of various program / projects run by the institute. Mainly following activities organized by association since 2011
     </p>
     <h4><b>1] Toppers Felicitation and Appreciation Program  </b></h4>
     <p>To motivate and encourage talent available at the institute, every year Final Year Toppers felicitation and appreciation program is organised. Under this program the toppers from Six Final year programs, Six Third year programs, Six Second year programs and First year are felicitated and given a prize of Rs. 2100 along with certificate and memento. Topper from PG Program (MCA), Topper of Engineering Mechanics subject at First year and Topper of Transportation Engineering II subject at Final year civil engineering are also felicitated and given a prize of Rs. 2100.</p>
    <div class="slider" style="padding-bottom: 15px">
<img src="{% static 'Alumini/img/clg/a1.jpg' %}" />
<img src="{% static 'Alumini/img/clg/a2.jpg' %}" />
<img src="{% static 'Alumini/img/clg/a3.jpg' %}" />


</div>
     <h4><b>2] Educational Assistance Scheme</b></h4>
     <p>Educational Assistance Scheme is aimed to provide financial assistance to the needy students of the institute to complete their engineering education. Under this scheme Rs. 24000/- (Twenty Four Thousands) per year is provided to the students. Since 2011 every year 30-40 students are getting benefits from this scheme with the helping hands of the Alumni of the institute. The pioneer of the scheme is Mr.RatnakarMungikar,1978 ,Mechanical Batch Alumni who started this scheme in 2011.</p>
     <div class="slider" style="padding-bottom: 15px">
<img src="{% static 'Alumini/img/clg/a4.jpg' %}" />
<img src="{% static 'Alumini/img/clg/a5.jpg' %}" />
<img src="{% static 'Alumini/img/clg/a6.jpg' %}" />


</div>
     <h4><b>3] Alumni Meetings and Get-To-Gethers</b></h4>
     <p>Alumni meetings and get-together are organised by Institute and Association on regular basis. The main agenda of the meeting is to make aware about various programs/ projects run by the institutes and motivate them to support for its success. Feedbacks given by the alumni are considered for the improvements and developments.</p>
     <div class="slider" style="padding-bottom: 15px">
<img src="{% static 'Alumini/img/clg/a7.jpg' %}" />
<img src="{% static 'Alumini/img/clg/a8.jpg' %}" />
<img src="{% static 'Alumini/img/clg/a9.jpg' %}" />

</div>
     <h3><b>Collaboration with industrial organizations Like CII, CMIA, MASSIA and Other</b></h3>
     <p>
         GECA is a member of industrial organization like Confederation Indian Industries (CII), Chamber of Marathwada Industries and Agriculture (CMIA), Marathwada Association of Small Scale Industries & Agriculture (MASSIA). Students and Faculty participates in the activities such as Conferences/Symposium/ workshops/CSR activities and etc. organized by CII, CMIA, MASSIA on regular basis.
     </p>
    <div class="slider" style="padding-bottom: 15px" >
<img src="{% static 'Alumini/img/clg/a10.jpg' %}" />
<img src="{% static 'Alumini/img/clg/a11.jpg' %}" />
<img src="{% static 'Alumini/img/clg/a12.jpg' %}" />

</div>
</div>
</div>
    
</div>
</div>
{% endblock content %}