{% extends "Alumini/base.html" %}
{% block content %}
<div class="container"  style="padding-top: 100px;">
    <div class="row">

     <div class="col-md-9 free-text-center" style="padding-left:10px;">
<div class="span7">
     <div class=" action-table">
         <div class="main" style="padding: 20px">
             <i class="icon-list"></i>
             <h3>
                 <strong>How To Reach</strong></h3>
                 <p>Aurangabad is off the main line but there are still direct trains from Mumbai and Hyderabad. Ajanta and Ellora are completely off the line and are usually approached from either Aurangabad (Ellora 30 km, Ajanta 106km) or from Jalgaon (Ajanta 60km). Jalgaon is on the main broad-gauge line from Mumbai to Allahabad.</p>
         </div>
         <!-- /widget-header -->
        <div class="widget-content">
             <div class="well well-sm lab_bag_creation">
                 <div class="row lab_bag_creation_contain">
                     <div class="col-md-4">
                         <div class="thumbnail">
                             <img src="imgs/4.jpg" alt="..."  style="width: 250px;height: 200px">
                         </div>
                     </div>
                   
                     <div class="col-md-8 " style="background-color: #efefef">
                         <h2>
                             By Air</h2>
                         <p>
                             The airport is about 7 km from the institute.</p>
                     </div>
                 
                 </div>
             </div>
             <div class="well well-sm lab_bag_creation ">
                 <div class="row lab_bag_creation_contain">
                     <div class="col-md-4">
                         <div class="thumbnail">
                             <img src="imgs/5.jpg" alt="..."  style="width: 250px;height: 200px">
                         </div>
                     </div>
                     <div class="col-md-8" style="background-color: #efefef">
                         <h2><strong>By Train</strong></h2>
                        <p>There are 4 direct trains daily to/from Mumbai. The Tapovan Express departs at 2.55 PM gets you into Mumbai at 11.20pm. The Overnight Deogiri Express departs from Aurangabad at 11.00 pm and arrives at Mumbai at 7.00 am. The Nadigram Express departs at 10.00 pm and arrives at Mumbai at 5.00 am. Alternatively you can get a bus or a local train to the nearest mainline station, Manmad, 113 km north-west of Aurangabad, from where there are more frequent express trains to Mumbai. If you are heading directly to the Ajanta Caves from Mumbai, it is best to get an express to Jalgaon and then a local bus to the caves.To Hyderabad (Secunderabad), the daily Deogiri Express departs from Aurangabad at 4.45 am and the journey takes 14 hours. Alternatively the Aurangabad - Kacheguda Express departs at 7.30 PM and arrives at Secunderabad at 9am.</p>
                     </div>
                 </div>
             </div>
             <div class="well well-sm lab_bag_creation">
                 <div class="row lab_bag_creation_contain">
                     <div class="col-md-4">
                         <div class="thumbnail">
                             <img src="imgs/6.jpg" alt="placeholder"  style="width: 250px;height: 200px">
                         </div>
                     </div>
                     <div class="col-md-8" style="background-color: #efefef">
                         <h2><strong>By Bus</strong></h2>
                        <p>There are MSRTC Buses From Aurangabad To Pune, Nasik, Indore and Mumbai.The MSRTC and MTDC also offer luxury overnight buses to Mumbai.</p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>

 </div>
</div>
</div>
{% endblock content %}