{% extends "Alumini/base.html" %}
{% block content %}
<div class="container"  style="padding-top: 100px;">
    <div class="row">
      
    <div class="col-md-3" style="padding-left:10px;">
    <div class="main">
    <div class="content-section" style="padding-top:0px;">
  
            <ul class="list-group" style="padding: 20px">
                <li><a href="about.html">Vision And Mission</a></li>
                <li><a href="princimsg.html">Principal's Message</a></li>
            </ul>
          </div>
    </div>
    </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <img src="imgs/3.jpg" alt="..." style="width: 700px;padding-bottom: 20px">
                </div>
                <div class="main" style="padding: 20px">
                <h3><strong>PRINCIPAL: Dr. P.B. Murnal</strong></h3>
        <p>Dear all,</p>
        <p>Technical education in today’s world occupies increasingly greater space and interest and hence required to be nurtured. All aspiring engineers shall awaken to remain sensitive and keep themselves abreast of developments in technology with growing awareness. The commitment towards acquisition of knowledge with thorough understanding is necessary to assimilate the facts.</p>
        <p>In today’s world, we need to develop kind of wisdom towards appropriate utilization of Nature’s resources, which are limited, but it’s our duty to conserve them so that these are made available for future generations also. This emphasizes need for conservation of energy, fuels, materials and resources. The development of devices and machines in line with conservation of ecology is important. The need for industrial development in tune with ecological principles shall be desirable.</p>
        <p>The desire to achieve and gain is natural in human being. However the aspiration for making of oneself to be appreciated by others has still better shades in existence. The approach in life need to be higher, generous, and shall consider the benefit of all.</p>
        <p>wish all faculty and staff shall have theirs’ contribution in shaping the engineers of the future. The educational institute like this one forms the important building block in development of the nation. May we all be conferred upon that wisdom and beneficial feelings in the heart to support the structure of this institute serving in the field of technical education! Students need to make best out of available facilities to create better tomorrows. I hope we all shall learn to live with mutual trust and faith and make our and others lives sublime.</p>
        <p>My best wishes to all.</p>
        <p>Dr. P.B. Murnal</p>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}