{% extends "Alumini/base.html" %}
{% block content %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    {% for post in posts %}
    <div class="container">
        <div class="well">
            <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="{{ post.author.profile.image.url }}">
                </a>
                <div class="media-body">
                  <a href="{% url 'post-detail' post.id %}"><h4 class="media-heading">{{ post.title }}</h4></a>
                <a href="{% url 'user-posts' post.author.username %}"><p class="text-right">{{ post.author }}</p></a>
                <p>{{ post.content }}</p>
                <ul class="list-inline list-unstyled">
                    <li><span><i class="glyphicon glyphicon-calendar"></i>{{ post.date_posted|date:"F d, Y" }}</span></li>
                  <li>|</li>
                 
                  </ul>
             </div>
          </div>
        </div>
    </div> 
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}